CREATE DATABASE {{ mysql_database }};
CREATE USER '{{ mysql_username }}'@'{{ mail_fqdn }}' IDENTIFIED BY '{{ vault_mysql_pass }}';
GRANT ALL PRIVILEGES ON `{{ mysql_database }}` . * TO '{{ mysql_username }}'@'{{ mail_fqdn }}';
FLUSH PRIVILEGES;