<VirtualHost *:443>
    ServerAdmin webmaster@{{ domain }}
    DocumentRoot "{{ postfixadmin_path }}"
    ErrorLog "/var/log/httpd/postfixadmin-error_log"
    TransferLog "/var/log/httpd/postfixadmin-access_log"

    # Certifikaty
    SSLEngine on
    SSLCertificateFile {{ cert_path }}
    SSLCertificateKeyFile {{ key_path }}
    SSLCertificateChainFile {{ fullchain_path }}

    <Directory />
        Options +Indexes +FollowSymLinks +ExecCGI
        AllowOverride All
        Order deny,allow
        Allow from all
    Require all granted
    </Directory>
</VirtualHost>